:root {
    --nav-text-color: #777777;
    --title-text-color: #3D4152;

    --main-background-green-light: rgba(161, 203, 70, 0.1);

    --main-color-purple: #b28686;
    --main-color-green: #02B290;
    --main-color-white: #FFFFFF;
    --main-color-organ: #FC8019;
    --main-color-yelow: #FFC33C;
    --main-color-pink-light: #FD5473;
    --main-color-grey-light: #E7ECF0;
}